In [2]:
from urllib import request, response, error
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
def date_nicer(date):
    date = date.replace('-2020','').replace('-',' ')
    return date.capitalize()

In [4]:
def get_covid_data():
    url = 'https://raw.githubusercontent.com/saaqebs/covid19-newjersey/master/nj_total.csv'
    df_historical = pd.read_csv(url)
    df_historical['Date'] = df_historical['Date'].apply(date_nicer)
    df_historical = df_historical.set_index('Date')
    return df_historical

In [5]:
def get_municipal_data():
    df_municipal = pd.read_csv('data/municipal.csv')
    return df_municipal.set_index('Municipal')

In [6]:
df_municipal = get_municipal_data()
df_municipal

                     County  Population      Type
Municipal
newark                essex      285154      city
jersey city          hudson      270753      city
paterson            passaic      148678      city
elizabeth             union      130215      city
edison            middlesex      102450  township
...                     ...         ...       ...
loch arbour        monmouth         183   village
teterboro            bergen          69   borough
walpack township     sussex          11  township
pine valley          camden          11   borough
tavistock            camden           5   borough

[565 rows x 3 columns]

In [7]:
df_covid = get_covid_data()
df_covid

                   Municipal  Cases
Date
March 25           allendale      4
March 25              alpine      1
March 25         bergenfield     26
March 25              bogota      8
March 25           carlstadt      6
...                      ...    ...
April 14     oxford township      1
April 14        phillipsburg     64
April 14  pohatcong township     10
April 14          washington     19
April 14      white township     36

[8208 rows x 2 columns]

In [22]:
def get_covid_data_for_municipal(municipal):
    return df_covid[df_covid['Municipal']==municipal.lower()]

In [23]:
get_covid_data_for_municipal('new brunswick')

              Municipal  Cases
Date
March 25  new brunswick      8
March 26  new brunswick      9
March 27  new brunswick     15
March 28  new brunswick     20
March 29  new brunswick     27
March 31  new brunswick     36
April 1   new brunswick     45
April 2   new brunswick     63
April 3   new brunswick     74
April 4   new brunswick     98
April 5   new brunswick    103
April 6   new brunswick    105
April 7   new brunswick    114
April 8   new brunswick    140
April 9   new brunswick    178
April 10  new brunswick    250
April 11  new brunswick    316